<h1><%=survey.title.capitalize%></h1>

<%if questions.nil?%>
  CREATE NEW QUESTIONS
  <%= erb :'survey/_question'%>
<%else%>
  <%questions.each do |question| %>
    <%= question.content%>
    <%if question.choices.nil?%>
      ADD CHOICES
      <%= erb :'survey/_choice'%>
    <%else%>
      <%question.choices.each do |choice|%>
        <%=choice.content%>
      <%end%>
    <%end%>
  <%end%>
<%end%>

<br><br>

<form action='/survey/<%=survey.id%>' method='post' name='survey_submit'>
  <input type="hidden" name="_method" value="put">
    <% questions.each_with_index do |question, index| %>
      <input type='hidden' name='question.id'>
      <dl>
        <dt><%=index+1%>. <%= question.content%></dt>
        <%question.choices.each do |choice|%>
          <dd>
        <input type='text' name='choice[<%=question.id%>][<%=choice.id%>]' placeholder='choice' value="<%=choice.content%>" >
          </dd>
        <%end%>
      </dl>
    <%end%>

    <input type='submit' value='Done editing'>
  </form>

  <form action='/survey/<%=survey.id%>' method='post' name='survey_submit'>

    <%=erb :'survey/_question'%>

  </form>


